---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15MuFIKLRmBJ86oUVjlPZYyL&plan=base&email=john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1421730488,
          "id": "cus_5Y0FRN5TQAW58i",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Y0FRN5TQAW58i/subscriptions",
            "data": [
              {
                "id": "sub_5Y0FyBcy4d4HV3",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1421726555,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1421730488,
                "status": "active",
                "customer": "cus_5Y0FRN5TQAW58i",
                "cancel_at_period_end": false,
                "current_period_start": 1421730488,
                "current_period_end": 1424408888,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Y0FRN5TQAW58i/cards",
            "data": [
              {
                "id": "card_15MuFIKLRmBJ86oUAWPoeMlW",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "T0OnylXfUa5fHpFH",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Y0FRN5TQAW58i"
              }
            ]
          },
          "default_card": "card_15MuFIKLRmBJ86oUAWPoeMlW"
        }
  recorded_at: Tue, 20 Jan 2015 05:06:05 GMT
recorded_with: VCR 2.9.3
