---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103rpP27wYrAQOnHaM5w2erQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8jk8sTXoqM02bOvJTY8xX3jN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103rpP27wYrAQOnHaM5w2erQ",
          "created": 1397703584,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103rpP27wYrAQOnHV9wI5USC",
              "object": "charge",
              "created": 1397703584,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103rpP27wYrAQOnHGtVqKqtK",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "v5aIbtpRE6eDf9H7",
                "customer": "cus_3rpPs9u5lEgj71",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103rpP27wYrAQOnHwr8RYbmo",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3rpPs9u5lEgj71",
              "invoice": "in_103rpP27wYrAQOnHLtgNIGIE",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3rpPtXGAnEa28N"
        }
  recorded_at: Thu, 17 Apr 2014 03:22:11 GMT
recorded_with: VCR 2.9.0
