---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15MuFlKLRmBJ86oUmElAF9gS",
          "livemode": false,
          "created": 1421730517,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15MuFlKLRmBJ86oUI3zRxJEv",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "T0OnylXfUa5fHpFH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "208.59.72.170"
        }
  recorded_at: Tue, 20 Jan 2015 05:06:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15MuFlKLRmBJ86oUmElAF9gS&description=A%20successful%20charge.
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15MuFmKLRmBJ86oUtjTdUmGC",
          "object": "charge",
          "created": 1421730518,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15MuFlKLRmBJ86oUI3zRxJEv",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "T0OnylXfUa5fHpFH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15MuFmKLRmBJ86oUFmIH6HdZ",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "A successful charge.",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15MuFmKLRmBJ86oUtjTdUmGC/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 20 Jan 2015 05:06:33 GMT
recorded_with: VCR 2.9.3
