---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15OuC5KLRmBJ86oUdAgvJyff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15OuC5KLRmBJ86oUdAgvJyff",
          "created": 1422206945,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15OuC5KLRmBJ86oUheUhiiHL",
              "object": "charge",
              "created": 1422206945,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "card": {
                "id": "card_15Ou7uKLRmBJ86oUncNblReI",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2016,
                "fingerprint": "CxG01ehsOeG5mOyv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5YKG3Q4GQYrKFg"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5YKG3Q4GQYrKFg",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15OuC5KLRmBJ86oUheUhiiHL/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_5a4KqyMQvNbtzr",
          "api_version": "2014-12-22"
        }
  recorded_at: Sun, 25 Jan 2015 17:37:24 GMT
recorded_with: VCR 2.9.3
