---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15MuFbKLRmBJ86oUtudIbCiC",
          "livemode": false,
          "created": 1421730507,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15MuFbKLRmBJ86oUzsW87sDa",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "PuJmaXQzwRkLESDv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "208.59.72.170"
        }
  recorded_at: Tue, 20 Jan 2015 05:06:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15MuFbKLRmBJ86oUtudIbCiC&plan=base&email=burley_runte%40mueller.net
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 20 Jan 2015 05:06:23 GMT
recorded_with: VCR 2.9.3
