---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15NDbUKLRmBJ86oUOqhQChnh",
          "livemode": false,
          "created": 1421804900,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15NDbUKLRmBJ86oUp5lYctS4",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "T0OnylXfUa5fHpFH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "208.59.72.170"
        }
  recorded_at: Wed, 21 Jan 2015 01:45:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15NDbUKLRmBJ86oUOqhQChnh&plan=base&email=christine%40hand.info
    headers:
      Authorization:
      - Bearer sk_test_Ou2O4DpSja5y5pAXhGW33htr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1421804901,
          "id": "cus_5YKG3Q4GQYrKFg",
          "livemode": false,
          "description": null,
          "email": "christine@hand.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5YKG3Q4GQYrKFg/subscriptions",
            "data": [
              {
                "id": "sub_5YKGGRHvdO7dab",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1421726555,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1421804901,
                "status": "active",
                "customer": "cus_5YKG3Q4GQYrKFg",
                "cancel_at_period_end": false,
                "current_period_start": 1421804901,
                "current_period_end": 1424483301,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5YKG3Q4GQYrKFg/cards",
            "data": [
              {
                "id": "card_15NDbUKLRmBJ86oUp5lYctS4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "T0OnylXfUa5fHpFH",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5YKG3Q4GQYrKFg"
              }
            ]
          },
          "default_card": "card_15NDbUKLRmBJ86oUp5lYctS4"
        }
  recorded_at: Wed, 21 Jan 2015 01:45:26 GMT
recorded_with: VCR 2.9.3
